@import './../../../../styles.scss';

.main {
  .headder-item{
    @include item-align-center;
    box-shadow: inset 0px 12px 0px -10px #ccc, inset 4px -12px 8px -11px #ccc;
    header{
      width: $parent-item-widths;
    }
  }
  .container {
    @include item-align-center;
    padding-top: 16px;
    app-movie-details {
      width: $parent-item-widths;
    }
    .info {
      @include font-paragraph;
      border-style: dashed;
      border-color: #f2f5f7;
      color: black;
      border-width: 1px;
      background-color: #f2f5f7;
      display: grid;
      place-items: center;
      margin: 10px 0 10px 0;
      padding: 16px;
      width: 50%;
    }
  }
}
