<ng-container *ngIf="movies && movies.length > 0; else noDataContainer">
  <div class="parent">
    <div
      *ngFor="let movie of movies"
      class="section"
      [ngClass]="{
        'long-section long-page-section': selectedMovie && selectedMovie.imdbID == movie.imdbID,
        'default-section': !(selectedMovie && selectedMovie.imdbID == movie.imdbID)
      }"
    >
      <img [src]="movie.Poster" alt="No Image" />
      <div class="details" [ngClass]="{
        'long-details': selectedMovie && selectedMovie.imdbID == movie.imdbID
      }"
      >
        <header>
          {{ movie.Title }}
        </header>
        <section *ngIf="selectedMovie && selectedMovie.imdbID == movie.imdbID">
          <div class="title">Plot</div>
          <p>{{ movie.Plot }}</p>
          <div class="title">Actors</div>
          <p>{{ movie.Actors }}</p>
          <div class="title">Rating</div>
          <ul>
            <li *ngFor="let rate of movie.Ratings">
              <p>{{ rate.Source }} {{ rate.Value }}</p>
            </li>
          </ul>
        </section>
        <footer>
          <p>{{ movie.Year }}</p>
          <button
            *ngIf="!(selectedMovie && selectedMovie.imdbID == movie.imdbID)"
            (click)="setSelectedMovie(movie.imdbID)"
          >
            Details
          </button>
        </footer>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noDataContainer>
  <div class="error">Movie not found!</div>
</ng-template>
